:root {
	/* Green */
	--color-green-50: #f0fdf4;
	--color-green-100: #dcfce7;
	--color-green-200: #bbf7d0;
	--color-green-300: #86efac;
	--color-green-400: #4ade80;
	--color-green-500: #22c55e;
	--color-green-600: #16a34a;
	--color-green-700: #15803d;
	--color-green-800: #166534;
	--color-green-900: #14532d;

	/* Pink */
	--color-pink-50: #fdf2f8;
	--color-pink-100: #fce7f3;
	--color-pink-200: #fbcfe8;
	--color-pink-300: #f9a8d4;
	--color-pink-400: #f472b6;
	--color-pink-500: #ec4899;
	--color-pink-600: #db2777;
	--color-pink-700: #be185d;
	--color-pink-800: #9d174d;
	--color-pink-900: #831843;

	/* Blue */
	--color-blue-50: #eff6ff;
	--color-blue-100: #dbeafe;
	--color-blue-200: #bfdbfe;
	--color-blue-300: #93c5fd;
	--color-blue-400: #60a5fa;
	--color-blue-500: #3b82f6;
	--color-blue-600: #2563eb;
	--color-blue-700: #1d4ed8;
	--color-blue-800: #1e40af;
	--color-blue-900: #1e3a8a;

	/* Purple */
	--color-purple-50: #faf5ff;
	--color-purple-100: #f3e8ff;
	--color-purple-200: #e9d5ff;
	--color-purple-300: #d8b4fe;
	--color-purple-400: #c084fc;
	--color-purple-500: #a855f7;
	--color-purple-600: #9333ea;
	--color-purple-700: #7e22ce;
	--color-purple-800: #6b21a8;
	--color-purple-900: #581c87;

	/* Orange */
	--color-orange-50: #fff7ed;
	--color-orange-100: #ffedd5;
	--color-orange-200: #fed7aa;
	--color-orange-300: #fdba74;
	--color-orange-400: #fb923c;
	--color-orange-500: #f97316;
	--color-orange-600: #ea580c;
	--color-orange-700: #c2410c;
	--color-orange-800: #9a3412;
	--color-orange-900: #7c2d12;

	/* Red */
	--color-red-50: #fef2f2;
	--color-red-100: #fee2e2;
	--color-red-200: #fecaca;
	--color-red-300: #fca5a5;
	--color-red-400: #f87171;
	--color-red-500: #ef4444;
	--color-red-600: #dc2626;
	--color-red-700: #b91c1c;
	--color-red-800: #991b1b;
	--color-red-900: #7f1d1d;

	/* Yellow */
	--color-yellow-50: #fffbeb;
	--color-yellow-100: #fef3c7;
	--color-yellow-200: #fde68a;
	--color-yellow-300: #fcd34d;
	--color-yellow-400: #fbbf24;
	--color-yellow-500: #f59e0b;
	--color-yellow-600: #d97706;
	--color-yellow-700: #b45309;
	--color-yellow-800: #92400e;
	--color-yellow-900: #78350f;

	/* Neutrals */
	--color-grey-0: #fff;
	--color-grey-50: #f9fafb;
	--color-grey-100: #f3f4f6;
	--color-grey-200: #e5e7eb;
	--color-grey-300: #d1d5db;
	--color-grey-400: #9ca3af;
	--color-grey-500: #6b7280;
	--color-grey-600: #4b5563;
	--color-grey-700: #2c3644;
	--color-grey-800: #1f2937;
	--color-grey-900: #111827;
	--color-red-500-translucent-18: color-mix(in srgb, var(--color-red-500) 18%, transparent);
	--color-red-500-translucent-28: color-mix(in srgb, var(--color-red-500) 28%, transparent);
	--color-red-500-translucent-38: color-mix(in srgb, var(--color-red-500) 38%, transparent);
	--color-yellow-500-translucent-18: color-mix(in srgb, var(--color-yellow-500) 18%, transparent);
	--color-yellow-500-translucent-28: color-mix(in srgb, var(--color-yellow-500) 28%, transparent);
	--color-yellow-500-translucent-38: color-mix(in srgb, var(--color-yellow-500) 38%, transparent);
	--color-green-500-translucent-18: color-mix(in srgb, var(--color-green-500) 18%, transparent);
	--color-green-500-translucent-28: color-mix(in srgb, var(--color-green-500) 28%, transparent);
	--color-green-500-translucent-38: color-mix(in srgb, var(--color-green-500) 38%, transparent);
	--color-blue-500-translucent-18: color-mix(in srgb, var(--color-blue-500) 18%, transparent);
	--color-blue-500-translucent-28: color-mix(in srgb, var(--color-blue-500) 28%, transparent);
	--color-blue-500-translucent-38: color-mix(in srgb, var(--color-blue-500) 38%, transparent);

	/* Variables */
	--text-color: var(--color-grey-50);
	--background-color: var(--color-grey-800);
}
