:root {
	--font-size-caption: 10px;
	--font-size-small: 12px;
	--font-size-body: 14px;
	--font-size-medium: 16px;
	--font-size-large: 18px;
	--font-size-title-small: 22px;
	--font-size-title-medium: 32px;
	--font-size-title-large: 48px;
}
